form {
    // background-color: grey;
    .value-section {
        margin: 0 auto;
        border-radius: 5px;
        background-color: #555555;
        .input-section {
            background-color: #555555;
            @media (max-width:576px) {
                display: block !important;
            }
            input {
                background-color: white;
                color: black;
                border: none;
                margin-right: 1rem;
                padding: 0.5rem;
                border-radius: 3.5px;
                input:focus {
                    outline: 1px solid orange
                }
                @media (max-width:768px) {
                    width: 60%;
                }
                @media (max-width:576px) {
                    width: 100%;
                }
            }
            .desInput{
                width: 100%;
                @media (max-width:576px) {
                    margin-top: 10px;
                }
            }
        }
        
        .button-part {
            background-color: #555555;
            button {
                background-color: rgb(255, 123, 0);
                border: none;
                border-radius: 3px;
                font-family: "Fira Sans", sans-serif;
                font-weight: 400;
                font-style: normal;
                height: 100%;
                width: 90%;
                @media (max-width:576px) {
                    width: 50%;
                }
            }
        }
    }
}